<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProyectoWeb</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/catalogos/TipoUsuario">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cat. TipoUsuario
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/catalogos/seccion1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cat. Seccion
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/catalogos/ciudadano1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cat. Ciudadanos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/catalogos/Aviso">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cat. Aviso
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/catalogos/Documento">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cat. Documento
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/catalogos/DocumentoSolicitado">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Documento Solicitado
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/catalogos/Cooperacion">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Cat Cooperacion
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/catalogos/CoperacionesDeCiudadano ">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> OperCiudadano
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/catalogos/Gasto ">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Gasto
            </NavLink>
        </div>
    </nav>
</div>

