@page "/catalogos/Cooperacion"

<h3>Cooperacion</h3>

<br />
<RadzenButton Text="Agregar" Icon="add" ButtonStyle="ButtonStyle.Success" Click="(()=>Editar(new Cooperacion()))" />
<br />
<br />
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="30" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@cooperacions" TItem="Cooperacion">
    <Columns>
        <RadzenDataGridColumn Property="IdCooperacion" Title="ID" Width="50" />
        <RadzenDataGridColumn Property="Nombre" Title="Nombre" Width="50" />
        <RadzenDataGridColumn Property="Descripcion" Title="Descripcion" Width="50" />
        <RadzenDataGridColumn Property="Monto" Title="Monto" Width="50" />
        <RadzenDataGridColumn Property="FechaDeInicio" Title="Fecha De Inicio" Width="50" />
        <RadzenDataGridColumn Property="FechaLimiteDePago" Title="Fecha Limite De Pago" Width="50" />
        <RadzenDataGridColumn Title="Acciones">
            <Template Context="data">
                <RadzenButton Click="(()=>Editar(data))" ButtonStyle="ButtonStyle.Warning" Icon="edit" />
                <RadzenButton Click="(()=>Eliminar(data))" ButtonStyle="ButtonStyle.Danger" Icon="delete" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    CooperacionManager cooperacionManager;
    List<Cooperacion> cooperacions;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        cooperacionManager = FabricManager.CooperacionManager;
        ActualizarTabla();
    }

    void ActualizarTabla()
    {
        cooperacions = cooperacionManager.ObtenerTodos().Result ?? new List<Cooperacion>();
        InvokeAsync(StateHasChanged);
    }

    async Task Editar(Cooperacion cooperacion)
    {
        string titulo = cooperacion.IdCooperacion == 0 ? "Nueva Cooperacion" : $"Editar {cooperacion.Nombre}";
        var result = await dialogService.OpenAsync(titulo, ds =>

    @<RadzenStack Gap="1.5rem">
        <div class="row">
            <div class="col-4">Nombre</div>
            <div class="col-8"><RadzenTextBox @bind-Value="cooperacion.Nombre" class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-4">Descripcion</div>
            <div class="col-8"><RadzenTextArea @bind-Value="cooperacion.Descripcion" class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-4">Monto</div>
            <div class="col-8"><RadzenNumeric @bind-Value="cooperacion.Monto" class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-4">FechaDeInicio</div>
            <div class="col-8"><RadzenDatePicker @bind-Value="cooperacion.FechaDeInicio" class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-4">FechaLimiteDePago</div>
            <div class="col-8"><RadzenDatePicker @bind-Value="cooperacion.FechaLimiteDePago" class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-3"><RadzenButton Text="Guardar" ButtonStyle="ButtonStyle.Primary" Click="(() => Guardar(cooperacion))" /></div>
            <div class="col-3"><RadzenButton Text="Cancelar" ButtonStyle="ButtonStyle.Secondary" Click="(() => dialogService.Close(false))" /></div>
        </div>
    </RadzenStack>

    , new DialogOptions()
    {
        Draggable = true,
        ShowClose = true,
        Resizable = true,
        Width = "600px",
        Height = "300px"
    });
    }

    async Task Guardar(Cooperacion cooperacion)
    {
        Cooperacion resultado;
        if (cooperacion.IdCooperacion == 0)
        {
            resultado = await cooperacionManager.Agregar(cooperacion);
        }
        else
        {
            resultado = await cooperacionManager.Modificar(cooperacion);
        }

        if (resultado != null)
        {
            dialogService.Close(true);
            ActualizarTabla();
        }
        else
        {
            await dialogService.Alert(cooperacionManager.Error, "Error al guardar");
        }
    }

    async Task Eliminar(Cooperacion cooperacion)
    {
        var r = await dialogService.Confirm($"¿Realmente deseas eliminar la cooperacion '{cooperacion.Nombre}'?", "Advertencia",
            new ConfirmOptions() { OkButtonText = "Sí", CancelButtonText = "No" });

        if (r.Value)
        {
            var eliminado = await cooperacionManager.Eliminar(cooperacion.IdCooperacion.ToString());
            if (eliminado)
            {
                ActualizarTabla();
            }
        }
    }
}