@page "/catalogos/seccion1"

<h3>Catálogo de Secciones</h3>

<br />
<RadzenButton Text="Agregar" Icon="add" ButtonStyle="ButtonStyle.Success" Click="(()=>Editar(new Seccion()))" />
<br />
<br />
<RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="30" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@secciones" TItem="Seccion">
    <Columns>
        <RadzenDataGridColumn Property="IdSeccion" Title="ID" Width="50" />
        <RadzenDataGridColumn Property="Nombre" Title="Nombre" Width="50" />
        <RadzenDataGridColumn Property="Notas" Title="Notas" Width="50" />
        <RadzenDataGridColumn Title="Acciones">
            <Template Context="data">
                <RadzenButton Click="(()=>Editar(data))" ButtonStyle="ButtonStyle.Warning" Icon="edit" />
                <RadzenButton Click="(()=>Eliminar(data))" ButtonStyle="ButtonStyle.Danger" Icon="delete" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    SeccionManager seccionManager;
    List<Seccion> secciones;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        seccionManager = FabricManager.SeccionManager;
        ActualizarTabla();
    }

    void ActualizarTabla()
    {
        secciones = seccionManager.ObtenerTodos().Result ?? new List<Seccion>();
        InvokeAsync(StateHasChanged);
    }

    async Task Editar(Seccion seccion)
    {
        string titulo = seccion.IdSeccion == 0 ? "Nueva Sección" : $"Editar {seccion.Nombre}";
        var result = await dialogService.OpenAsync(titulo, ds =>

    @<RadzenStack Gap="1.5rem">
        <div class="row">
            <div class="col-4">Nombre</div>
            <div class="col-8"><RadzenTextBox @bind-Value="seccion.Nombre" class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-4">Notas</div>
            <div class="col-8"><RadzenTextArea @bind-Value="seccion.Notas" class="w-100" /></div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-3"><RadzenButton Text="Guardar" ButtonStyle="ButtonStyle.Primary" Click="(() => Guardar(seccion))" /></div>
            <div class="col-3"><RadzenButton Text="Cancelar" ButtonStyle="ButtonStyle.Secondary" Click="(() => dialogService.Close(false))" /></div>
        </div>
    </RadzenStack>

    , new DialogOptions()
    {
        Draggable = true,
        ShowClose = true,
        Resizable = true,
        Width = "600px",
        Height = "300px"
    });
    }

    async Task Guardar(Seccion seccion)
    {
        Seccion resultado;
        if (seccion.IdSeccion == 0)
        {
            resultado = await seccionManager.Agregar(seccion);
        }
        else
        {
            resultado = await seccionManager.Modificar(seccion);
        }

        if (resultado != null)
        {
            dialogService.Close(true);
            ActualizarTabla();
        }
        else
        {
            await dialogService.Alert(seccionManager.Error, "Error al guardar");
        }
    }

    async Task Eliminar(Seccion seccion)
    {
        var r = await dialogService.Confirm($"¿Realmente deseas eliminar la sección '{seccion.Nombre}'?", "Advertencia",
            new ConfirmOptions() { OkButtonText = "Sí", CancelButtonText = "No" });

        if (r.Value)
        {
            var eliminado = await seccionManager.Eliminar(seccion.IdSeccion.ToString());
            if (eliminado)
            {
                ActualizarTabla();
            }
        }
    }
}